/*  ==========================================================================
    Footer
    ========================================================================== */

    /*
     * CSS for all devices
     */

    @media only screen {

		.footer {
			background-color: #2e2e2e;
		    color: #fff;
		    width: 100%;
		    margin-top: 50px;
		    padding-bottom: 10px;
		}
	}